# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#Issues:
overflowing something and navbar becomes out of viewport width as we open the navbar-collapse in mobile devices.
service card heading fontsize management and text wrapping so the icon doesn't wrap on next line.
recent work navbar responsiveness

# animations
work card hover animations
education card hover animation to give a fade in and fade out on bg color.
make the select tag work
